.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/controllers/Test.php
application/controllers/Test.php
application/controllers/example.php
application/config/site.php
application/config/database.php
application/config/config.php
application/views/backend/standart/administrator/form_builder/*
application/views/public/form_contact_form/*
application/controllers/form/*
application/page-preview/*
apidoc/module/*
apidoc/*
application/controllers/api/Example.php
application/controllers/api/Key.php
index.php

apidoc/api_data.js

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
uploads/*
!uploads/blog/wellcome.jpg

captcha/*
phploy
phploy.ini

/vendor/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
